<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Effectuer un Nouveau Paiement</title>
    <link rel="stylesheet" th:href="@{/css/declaration.css}" />
</head>
<body>
<div class="container">
    <h1>Effectuer un Nouveau Paiement</h1>
    <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{/paiements/savePaiement}" th:object="${paiement}" method="post" class="modern-form">
        <a th:href="@{/paiements/list}" class="quit-button">X</a>
        <label for="datePaiement">Date de paiement:</label>
        <input type="date" id="datePaiement" th:field="*{datePaiement}" th:value="${paiement.montantPaiement ?: ''}" required>

        <label for="montantPaiement">Montant:</label>
        <input type="number" id="montantPaiement" th:field="*{montantPaiement}" required th:value="${paiement.montantPaiement ?: ''}">

        <!--<label for="declaration">Déclaration:</label>
        <select id="declaration" th:field="*{declaration.id}" required>
            <option th:each="declaration : ${listDeclarations}" th:value="${declaration.id}" th:text="${declaration.montantDeclaration}" th:selected="${idDeclaration == declaration.id}"></option>
        </select>-->
        <!-- ... -->
        <label for="idDeclaration">Déclaration:</label>
        <!-- Affiche le montant pré-rempli s'il existe, sinon affiche la liste déroulante -->
        <th:block th:if="${idDeclaration != null}">
            <input type="number" id="montantPaiementPreRempli" th:value="${paiement.declaration.montantDeclaration}" disabled>
            <input type="hidden" id="idDeclaration" th:value="${idDeclaration}" name="declaration.id">
        </th:block>
        <th:block th:unless="${idDeclaration != null}">
            <select id="idDeclarationListe" name="declaration.id" required>
                <option th:each="declaration : ${listDeclarations}" th:value="${declaration.id}" th:text="${declaration.montantDeclaration}" ></option>
            </select>
        </th:block>

        <!-- ... -->


        <button type="submit" class="submit-button">Valider</button>
    </form>

</div>
</body>
</html>
